<div class="widget">
  <h3 class="title"><%= @widget_title %></h3>
  <% if @links %>
    <ul>
    <% @links.each do |link| %>
      <li><a href="<%= link.url %>" target="_blank"><%= link.name %></a></li>
    <% end %>
    </ul>
  <% end %>

</div>